h1 {
  text-align: center;
}
body {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
h2 {
  text-align: center;
  padding: 20px;
}
ul {
  list-style-type: none;
}
.city-search {
  text-align: center;
  position: relative;
  top: 20px;
}
.card-text {
  text-align: center;
}
.card-title {
  text-align: center;
}
.col-6 {
  display: grid;
}
.sun-position {
  position: relative;
  top: 75px;
  text-align: center;
}
.qualities {
  position: relative;
  top: 125px;
  text-align: center;
}
